.personal-best-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}
.table-header {
  font-weight: bold;
    background-color: rgba(255, 255, 255, 0.201);

}

.personal-best-table span {

  padding: .5rem;
}
.personal-best-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: .5rem;
}

